apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  finalizers:
    # The default behaviour is foreground cascading deletion
    - resources-finalizer.argocd.argoproj.io
    # Alternatively, you can use background cascading deletion
    # - resources-finalizer.argocd.argoproj.io/background
  name: threescale-test
spec:
  destination:
    namespace: threescale-testing
    server: https://kubernetes.default.svc
  project: default
  source:
    path: 3scale/library-books-api/overlays/test
    repoURL: https://github.com/jeannyil-3scale-resources/3scale-gitops-overlay.git
    targetRevision: HEAD
  syncPolicy:
    syncOptions:
    - ApplyOutOfSyncOnly=true